//- Archivo PUG

footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/viajes") Viajes
                a.nav-link(href="/testimoniales") Testimoniales            
        .col
            p.copyright.text-center.text-md-right
                | Todos los derechos reservados 
                span= actualYear