//- Archivo PUG

header
    .navegacion
        .container
            //- Clases de Boostrap
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4
                .col-md-4.col-6
                    a(href="/") 
                        img(src="/img/logo.svg", alt="sitio logo")
                .col-md-8
                    nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end
                        a.nav-link(href="/nosotros") Nosotros
                        a.nav-link(href="/viajes") Viajes
                        a.nav-link(href="/testimoniales") Testimoniales
                        